<div class="container mb-5 jusfiy-content-center align-items-center">
  <div class="row jusfiy-content-center">
    <div class="col-md-4">
      <img
        class="img-responsive img-centered m-4 border-0"
        src="../images/linda.png"
        alt=""
        width="80%"
        height="400"
      />
    </div>
    <div class="col-md-6">
      <h1 class="h2 text-left text-capitalize p-3 mt-4">meet the founder</h1>
      <p class="text-capitalize text-left p-3 paragraph justify-text">
        linda verwilligen is a passionate advocate for women's and children's
        rights, dedicated to making a positive impact in their lives. As the
        founder of eleven 11 foundation, she has created a safe and nurturing
        space for women and children to thrive and grow. linda verwilligen
        believes in the power of community and collaboration, working tirelessly
        to bridge the gap and create a more equitable society for women and
        children worldwide. her dedication and tenacity inspire those around her
        to dream big and work towards a more inclusive world.
      </p>
    </div>
  </div>
</div>
