<div class="container-fluid">
  <div class="card">
    <div class="form-text">
      <form
        action="/updates"
        method="POST"
        class="form-control border-0 mt-4 p-4"
      >
        <!-- <p class="text-capitalize text-dark mb-4">
          Subscribe to the optimist to get weekly updates on the latest in
          global health, gender equality education, and more.
        </p> -->
        <div class="mt-5 mb-4">
          <input
            type="email"
            class="form-control p-3"
            id="userEmail"
            placeholder="Enter your email"
            name="useremail"
            required
          />
        </div>

        <p class="text-capitalize text-dark">
          By submitting your email to subscribe you agree to Eleven11
          Foundation's <br />
          <a href="#">Privacy & Cookies</a> Notice.
        </p>
        <!-- Submit Button -->
        <div class="mt-4 mb-5">
          <button type="submit" class="btn btn-dark text-white p-2">
            Subscribe
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
