<div class="content-fluid mt-3 mb-4 p-5">
  <h1 class="h1 text-left text-capitalize mt-3 justify-text">
    Empowering Women, Enriching Children <br />
    Enhancing Communities
  </h1>
  <p class="mt-4 text-capitalize text-left text-break justify-text">
    elven 11 foundation is a non-profit organization dedicated to transforming
    the lives of women and children through education <br />
    economic empowerment, and community development. We focus on providing
    access to quality education <br />
    healthcare, and economic opportunities to vulnerable populations.
  </p>
</div>
