<div class="container">
  <div class="row p-4">
    <h1 class="text-left text-capitalize p-4 m-3">
      more information about the organization
    </h1>
    <br />
    <br />
    <div class="col-md-4">
      <img
        src="../images/Early-Education-in-Africa.jpg"
        alt="Education in Africa"
        class="card-img-top custom-card-img"
      />
      <p class="lead text-left text-capitalize p-3">our goals</p>
      <p class="text-left text-capitalize justify-text">
        To provide comprehensive support services, advocacy, and education,
        ensuring women and children. Have access to quality healthcare,
        education, and economic opportunities.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="../images/2022-08-17-Africa-on-the-verge-of-gender-parity.jpg"
        alt="Education in Africa"
        class="card-img-top custom-card-img"
      />
      <p class="lead text-left text-capitalize p-3">our mission</p>
      <p class="text-left text-capitalize justify-text">
        Empowering women and children to break cycles of poverty, violence, and
        inequality, fostering a culture of resilience, education, and holistic
        well-being.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="../images/istockphoto-182367551-612x612.jpg"
        alt="Education in Africa"
        class="card-img-top custom-card-img"
        class="card-img-top custom-card-img"
      />
      <p class="lead text-left text-capitalize p-3">core values</p>
      <p class="text-left text-capitalize justify-text">
        Demonstrating empathy, kindness, and understanding.Fostering autonomy,
        self-reliance, and decision-making capacity.
      </p>
    </div>
  </div>
</div>
