<div class="container bg-dark justify-content-center p-4 mt-4 mb-4 h-100">
  <div class="row">
    <div class="col-md-6"><%- include('form') %></div>
    <div class="col-md-6 mb-5">
      <h1 class="text-capitalize text-left text-white p-4">
        be a help to the needed <br />by donating a dallor towards humanity
      </h1>
      <p class="text-white text-capitalize text-left m-3 p-4 justify-text">
        together, we can create a world where humanity stands strong, united by
        compassion. so, will you be the one to make that difference today?"
      </p>
      <button
        class="btn btn-warning rounded-5 text-capitalize mb-4"
        type="button"
        style="margin-left: 30px"
      >
        donate - now
      </button>
    </div>
  </div>
</div>
